<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'app/css/stylesMain.css' %}"> 
    <link rel="stylesheet" href="{% static 'app/css/stylesRegister.css' %}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{% static 'app/js/ScrolScript.js' %}"></script>
</head>
<body>
    
    <img src="{% static 'app/images/logo.png' %}" id="logo">

    <div id="content">
        <form id="myForm">
            <div id="con"> 
                <p id="text">Как к тебе обращаться?</p>
                <p id="textPOD">Под этим именем тебя будут видеть</p>
                <input type="text" id="inputField" maxlength="10" name="inputField" required>
                <p id="error">Пожалуйста, напиши своё имя!</p>
            </div>
            <button type="button" id="input" onclick="saveDataAndRedirect('god.html')">Продолжить</button>
        </form>    
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const con = document.getElementById('con');
            con.classList.add('show');  // Делаем форму видимой

            // Обработчик нажатия Enter в поле ввода
            const inputField = document.getElementById('inputField');
            inputField.addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                    event.preventDefault(); // Предотвращаем стандартное поведение формы
                    saveDataAndRedirect('god.html');
                }
            });
        });

        function saveDataAndRedirect(nextPage) {
            const input = document.getElementById('inputField');
            const errorText = document.getElementById('error');

            if (input.value.trim() === '') {  // Проверяем, пустое ли поле
                errorText.style.display = 'block';  // Показываем текст ошибки
            } else {
                errorText.style.display = 'none';  // Скрываем текст ошибки

                // Сохраняем имя в localStorage
                localStorage.setItem('name', input.value);

                // Перенаправляем на следующую страницу
                window.location.href = nextPage;
            }
        }
    </script>
</body>
</html>