<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'app/css/stylesMain.css' %}"> 
    <link rel="stylesheet" href="{% static 'app/css/stylesRegister.css' %}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{% static 'app/js/ScrolScript.js' %}"></script>
</head>
<body>
    
    <img src="{% static 'app/images/logo.png' %}" id="logo">

    <div id="content">
        <form id="myForm">
            <div id="con"> 
                <p id="text">Как к тебе обращаться?</p>
                <p id="textPOD">Под этим именем тебя будут видеть</p>
                <input type="text" id="inputField" name="inputField" required>
                <p id="error" class="error-message">Пожалуйста, напиши своё имя!</p>
                <p id="length-error" class="error-message">Не более 10 символов!</p>
            </div>
            <button type="button" id="input" onclick="validateAndSubmit()">Продолжить</button>
        </form>    
    </div>

    <script>

        function validateAndSubmit() {
            const input = document.getElementById('inputField');
            const error = document.getElementById('error');
            const lengthError = document.getElementById('length-error');
            const nextPage = "{% url 'god' %}";  // Используем тег url

            // Сбрасываем предыдущие ошибки
            error.style.display = 'none';
            lengthError.style.display = 'none';
            input.classList.remove('input-error');

            // Проверяем на пустое поле
            if (input.value.trim() === '') {
                error.style.display = 'block';
                input.classList.add('input-error');
                return;
            }

            // Проверяем длину
            if (input.value.length > 10) {
                lengthError.style.display = 'block';
                input.classList.add('input-error');
                return;
            }

            // Если все проверки пройдены
            localStorage.setItem('name', input.value);
            window.location.href = nextPage;
        }
    </script>
</body>
</html>