<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'app/css/stylesMain.css' %}"> 
    <link rel="stylesheet" href="{% static 'app/css/stylesRegister.css' %}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>

    <img src="{% static 'app/images/logo.png' %}" id="logo">

    <div id="content">
        <form id="myForm">
            <div id="con"> 
                <h3 id="text">Сколько тебе лет?</h3>
                <p id="textPOD">Другие будут знать твой возраст</p>
                <input type="number" id="inputField" name="inputField" placeholder="Ваш возраст" required>
                <p id="error">Пожалуйста, введите корректный возраст<br>(от 14 до 100 лет)!</p>
            </div>
            <button type="button" id="input" onclick="saveDataAndRedirect('pol.html')">Продолжить</button>
        </form>    
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const con = document.getElementById('con');
            con.classList.add('show');  // Делаем форму видимой
        });

        function saveDataAndRedirect(nextPage) {
            const input = document.getElementById('inputField');
            const errorText = document.getElementById('error');
            const age = parseInt(input.value.trim());  // Получаем возраст как число

            // Проверяем, что возраст в диапазоне от 14 до 100
            if (isNaN(age)) {
                errorText.textContent = "Пожалуйста, введите возраст!";
                errorText.style.display = 'block';  // Показываем текст ошибки
            } else if (age < 14 || age > 100) {
                errorText.textContent = "Пожалуйста, введите корректный возраст (от 14 до 100 лет)!";
                errorText.style.display = 'block';  // Показываем текст ошибки
            } else {
                errorText.style.display = 'none';  // Скрываем текст ошибки

                // Сохраняем возраст в localStorage
                localStorage.setItem('birth_year', age);

                // Перенаправляем на следующую страницу
                window.location.href = nextPage;
            }
        }
    </script>
</body>
</html>