<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'app/css/stylesMain.css' %}"> 
    <link rel="stylesheet" href="{% static 'app/css/stylesRegister.css' %}">
    <script src="{$ static 'js/ScrolScript.js' %}"></script>
</head>
<body>

    <img src="{% static 'app/images/logo.png' %}" id="logo">

    <div id="content">

        <form id="myForm">
            <div id="con"> 
                <h3 id="text">Сколько тебе лет?</h3>
                <p id="textPOD">Другие будут знать твой возраст</p>
            <input type="number" id="inputField" name="inputField">
            <p id="error">Пожалуйста, напиши свой возраст!</p>
            </div>
            <button type="submit" id="input">Продолжить</button>
        </form>    
    </div>

    <script>
        document.getElementById('myForm').addEventListener('submit', function(event) {
    
            const input = document.getElementById('inputField');
            const errorText = document.getElementById('error');
    
            if (input.value.trim() === '' || 100 < input.value.trim() || input.value.trim() < 14){ // Проверяем, пустое ли поле
                event.preventDefault(); // Отменяем отправку формы
                errorText.style.display = 'block'; // Показываем текст ошибки
            } else {
                errorText.style.display = 'none'; // Скрываем текст ошибки
                input.value = '';
                event.preventDefault();
                window.location.assign('korpus.html')
            }
        });
    </script>

</body>
</html>