<!-- home.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <h1>Добро пожаловать, {{ student.name }}!</h1>
    <p>Ваш Telegram ID: {{ student.telegram_id }}</p>
    <p>Корпус: {{ student.campus }}</p>
    <p>Год рождения: {{ student.birth_year }}</p>
    <p>Пол: {{ student.gender }}</p>
    <p>О себе: {{ student.about_me }}</p>
    <h2>Ваши интересы:</h2>
    <ul>
        {% for interest in student.interests.all %}
            <li>{{ interest.name }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'logout' %}">Выйти</a>
</body>
</html>