{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заголовок страницы</title>
    <link rel="stylesheet" href="% static '/webapp/webapp/static/css/styles.css'"> 
</head>
<body>
    <img src="% static '/webapp/webapp/static/images/logo.png'" alt="Описание изображения" width="120" height="50">
    <div class="korpus">
    <div class="text">
        <h3>Выбери свой корпус</h3>
    </div>
    <div id="myForm2">

        <select class="mySelect" size="4"> 
            <option value="1">Корпус 1 Народная 8</option>
            <option value="2">Корпус 2 Гагарина 27</option>
            <option value="3">Корпус 3 50 лет Октября 165</option>
            <option value="4">Корпус 4 Курчатов</option>
        </select>

        <p class="error" id="errorKorpus">Пожалуйста, выберите корпус!</p>
        <button type="submit" id="input">Продолжить</button>
    </div>
</body>
</html>