<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'app/css/stylesMain.css' %}"> 
    <link rel="stylesheet" href="{% static 'app/css/stylesRegister.css' %}">
    <script src="{% static 'app/js/ScrolScript.js' %}"></script>
    <style>
        #con {
            display: flex;
            flex-direction: column;   
            align-items: center;
            justify-content: center;
            margin: 0; 
        }

        #text {
            margin-left: 30px;
            width: 150px; /* Установите ширину, достаточную для отображения текста */
            display: inline-block;
            text-align: left; /* Выравнивание текста по левому краю */
        }
    </style>
</head>
<body>
    <img src="{% static 'app/images/logo.png' %}" id="logo">
    <div id="con">
        <p id="text"></p>
        <p id="textPOD">Уже настраиваем приложение под тебя!</p>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const con = document.getElementById('con');
            con.classList.add('show');  // Делаем форму видимой
    
            // Собираем данные из localStorage
            const data = {
                telegram_id: localStorage.getItem('telegram_id'),
                username: localStorage.getItem('username'),  // Добавляем username
                name: localStorage.getItem('name'),
                campus: localStorage.getItem('campus'),
                birth_year: localStorage.getItem('birth_year'),
                gender: localStorage.getItem('gender'),
                interests: JSON.parse(localStorage.getItem('interests')) || [],
                about_me: "Я студент Курского Государственного Политехнического Колледжа!"
            };
    
            // Отправляем данные на сервер
            fetch('/register/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                // Перенаправляем на страницу успешной регистрации
                window.location.href = `/success/?telegram_id=${localStorage.getItem('telegram_id')}`; // Замените на нужный URL
            }, 2000)
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>