<!DOCTYPE html>
<html lang="ru">
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'app/css/stylesMain.css' %}"> 
    <link rel="stylesheet" href="{% static 'app/css/stylesRegister.css' %}">
    <script src="{$ static 'js/ScrolScript.js' %}"></script>
    <style>
        
        #con {
            display: flex;
            flex-direction: column;   
            align-items: center;
            justify-content: center;
            margin: 0; 
        }

        #text {
            margin-left: 30px;
        width: 150px; /* Установите ширину, достаточную для отображения текста */
        display: inline-block;
        text-align: left; /* Выравнивание текста по левому краю */
        }

    </style>
</style>
</head>
<body>
    <img src="{% static 'app/images/logo.png' %}" id="logo">
    <div id="con">
        <h3 id="text"></h3>
        <p id="textPOD">Уже настраиваем приложение под тебя!</p>
    </div>

    <script>
        const textElement = document.getElementById('text');
        let dots = 0;
        
        function animateText() {
          dots++;
          if (dots > 3) {
            dots = 0;
          }
          textElement.textContent = `Пару секунд${'.'.repeat(dots)}`;
          setTimeout(animateText, 500); // Задержка 0.5 секунды
        }
        
        animateText();
        </script>
</body>
</html>