<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'app/css/stylesMain.css' %}"> 
    <link rel="stylesheet" href="{% static 'app/css/stylesRegister.css' %}">
    <script src="{$ static 'js/ScrolScript.js' %}"></script>

</head>
<body>

    <img src="{% static 'app/images/logo.png' %}" id="logo">

    <div id="content"> 

    <form id="myForm">

        <div id="con">
            <h3 id="text">Выбери свой пол</h3>
            <p id="textPOD">Так пользователи смогут понять кто ты</p>

        <div id="polVIB"> 
            <input type="hidden" id="selectedValue" name="selectedValue" value="">
            <button type="button" class="buttonPolImg" id="button1" data-value="female" onclick="handleButtonClick('button1')"><img src="img/female.png">Девушка</button>
            <button type="button" class="buttonPolImg" id="button2" data-value="male" onclick="handleButtonClick('button2')"><img src="img/male.png">Парень</button>
        </div>

        <p id="error">Пожалуйста, выбери свой пол!</p>
    </div>
        <button type="submit" id="input">Продолжить</button>
    
    </form>

    </div>

    <script>
        let activeButton = null; // Переменная для хранения активной кнопки

        function handleButtonClick(buttonId) {
            const button1 = document.getElementById('button1');
            const button2 = document.getElementById('button2');
            const error = document.getElementById('error');


            // Если есть активная кнопка, сбрасываем её состояние
            if (activeButton) {
                const previousButton = document.getElementById(activeButton);
                previousButton.classList.remove('active');
                previousButton.classList.add('inactive');
                previousButton.disabled = false; // Включаем кнопку обратно
            }

            // Если нажата та же кнопка, ничего не делаем
            if (activeButton === buttonId) {
                return;
            }

            // Устанавливаем новую активную кнопку
            activeButton = buttonId;
            const currentButton = document.getElementById(activeButton);
            currentButton.classList.add('active');
            currentButton.classList.remove('inactive');
            currentButton.disabled = true; // Отключаем активную кнопку

            // Уменьшаем другую кнопку
            const otherButton = (activeButton === 'button1') ? button2 : button1;
            otherButton.classList.remove('active');
            otherButton.classList.add('inactive');
            otherButton.disabled = false; // Включаем другую кнопку

            // Сохраняем значение выбранной кнопки в скрытое поле формы
            const selectedValue = currentButton.getAttribute('data-value');
            document.getElementById('selectedValue').value = selectedValue;

            error.style.display = 'none';
        }

        
    </script>

    <script> 

        const form = document.getElementById('myForm');
        const error = document.getElementById('error');

        form.addEventListener('submit', function(event) {
            const selectedValue = document.getElementById('selectedValue').value; // Получаем значение из скрытого поля
            if (selectedValue === "") {
                event.preventDefault(); // Предотвратить отправку формы
                error.style.display = 'block'; // Показать сообщение об ошибке
            } else {
                event.preventDefault(); // Предотвратить отправку формы\
                error.style.display = 'none'; // Скрыть сообщение об ошибке
                window.location.assign('interes.html');
            }
        });
    </script>

</body>
</html>