<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'app/css/stylesMain.css' %}"> 
    <link rel="stylesheet" href="{% static 'app/css/stylesRegister.css' %}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>

    <img src="{% static 'app/images/logo.png' %}" id="logo">

    <div id="content">
        <form id="myForm">
            <div id="con"> 
                <h3 id="text">Выбери свой пол</h3>
                <p id="textPOD">Другие будут знать твой пол</p>

                <!-- Радиокнопки для выбора пола -->
                <label>
                    <input type="radio" name="gender" value="male" required> Мужской
                </label>
                <label>
                    <input type="radio" name="gender" value="female" required> Женский
                </label>

                <p id="error">Пожалуйста, выбери пол!</p>
            </div>
            <button type="button" id="input" onclick="saveDataAndRedirect('interes.html')">Продолжить</button>
        </form>    
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const con = document.getElementById('con');
            con.classList.add('show');  // Делаем форму видимой
        });

        function saveDataAndRedirect(nextPage) {
            const genderInputs = document.querySelectorAll('input[name="gender"]');
            const errorText = document.getElementById('error');
            let selectedGender = null;

            // Проверяем, выбран ли пол
            genderInputs.forEach(input => {
                if (input.checked) {
                    selectedGender = input.value;
                }
            });

            if (!selectedGender) {  // Если пол не выбран
                errorText.style.display = 'block';  // Показываем текст ошибки
            } else {
                errorText.style.display = 'none';  // Скрываем текст ошибки

                // Сохраняем пол в localStorage
                localStorage.setItem('gender', selectedGender);

                // Перенаправляем на следующую страницу
                window.location.href = nextPage;
            }
        }
    </script>
</body>
</html>