class Student(models.Model):
    CAMPUS_CHOICES = [
        ('1', 'Корпус 1'),
        ('2', 'Корпус 2'),
        ('3', 'Корпус 3'),
        ('4', 'Корпус 4'),
    ]

    GENDER_CHOICES = [
        ('male', 'Мужской'),
        ('female', 'Женский'),
    ]

    telegram_id = models.CharField(max_length=200, unique=True, verbose_name="Telegram ID")
    name = models.CharField(max_length=200, verbose_name="Имя")
    campus = models.CharField(max_length=1, choices=CAMPUS_CHOICES, verbose_name="Корпус")
    birth_year = models.IntegerField(
        verbose_name="Возраст",
        validators=[
            MinValueValidator(0),  # Минимальный возраст
            MaxValueValidator(120),  # Максимальный возраст
        ]
    )
    gender = models.CharField(max_length=10, choices=GENDER_CHOICES, verbose_name="Пол")
    about_me = models.TextField(blank=True, verbose_name="О себе")
    interests = models.ManyToManyField(Interest, blank=True, verbose_name="Интересы", related_name="students")
    avatar = models.ImageField(upload_to='avatars/', blank=True, null=True, verbose_name="Аватарка")

    class Meta:
        verbose_name = "Студент"
        verbose_name_plural = "Студенты"

    def __str__(self):
        return self.name

    def save(self, *args, **kwargs):
        # Если аватарка не задана, выбираем её в зависимости от пола
        if not self.avatar:
            if self.gender == 'male':
                self.avatar = 'app/images/male.png'
            elif self.gender == 'female':
                self.avatar = 'app/images/female.png'
        super().save(*args, **kwargs)

    def avatar_preview(self):
        if self.avatar:
            return mark_safe(f'<img src="{self.avatar.url}" width="150" height="150" />')
        elif self.gender == 'male':
            return mark_safe('<img src="/static/app/images/male.png" width="150" height="150" />')
        elif self.gender == 'female':
            return mark_safe('<img src="/static/app/images/female.png" width="150" height="150" />')
        return "No Avatar"

    avatar_preview.short_description = 'Аватарка'
    avatar_preview.allow_tags = True