<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" href="{% static 'app/css/stylesMain.css' %}"> 
    <link rel="stylesheet" href="{% static 'app/css/stylesAccaunt.css' %}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{% static 'app/js/ScrolScript.js' %}"></script>
</head>
<body>

    <div id="content">
        <img src="{% static 'app/images/logo.png' %}" id="logo">
        <div id="con"> 

            <div id="osnova"> 
                <!-- Аватарка -->
                <img id="imagePreview" src="
                    {% if student.avatar %}
                        {{ student.avatar.url }}
                    {% else %}
                        {% if student.gender == 'male' %}
                            {% static 'app/images/male.png' %}
                        {% else %}
                            {% static 'app/images/female.png' %}
                        {% endif %}
                    {% endif %}
                " width="110px" height="110px" alt="Аватарка">
                
                <!-- Данные пользователя -->
                <p id="textNAIMPROF">{{ student.name }}</p>                   <!-- Имя из бд -->
                <p id="textGODPROF">{{ student.birth_year }} лет</p>          <!-- Возраст из бд -->
                <p id="textKORPROF">{{ student.get_campus_display }}</p>      <!-- Корпус из бд -->
                <textarea id="osebe" disabled>{{ student.about_me }}</textarea> <!-- О себе из бд -->
            </div>

            <div id="dop">

                <!-- Кнопка "Редактировать" -->
                <div id="red">
                    <img src="{% static 'app/images/redact.png' %}" id="avatarR">
                    <a href="{% url 'edit' student.telegram_id %}" id="textP">Редактировать</a>
                    <p id="textPODB">Изменить данные</p>
                </div>

                <!-- Кнопка "Мои интересы" -->
                <div id="interesred">
                    <img src="{% static 'app/images/interes.png' %}" id="avatarI">
                    <a href="{% url 'interesred' student.telegram_id %}" id="textP">Мои интересы</a>
                    <p id="textPODB">Настроить категории</p>
                </div>

            </div>
        </div>

        <!-- Нижнее меню -->
        <nav class="menu">
            <div id="inputMenu">
                <!-- Кнопка "Знакомства" -->
                <a href="{% url 'znakomstva' student.telegram_id %}"><img src="{% static 'app/images/anket.png' %}" id="men" alt="Знакомства"></a>
                <!-- Кнопка "Профиль" -->
                <a href="{% url 'profil' student.telegram_id %}"><img src="{% static 'app/images/prof.png' %}" id="men" alt="Профиль"></a>
                <!-- Кнопка "Уведомления" -->
                <a href="{% url 'notice' student.telegram_id %}"><img src="{% static 'app/images/uved.png' %}" id="men" alt="Уведомления"></a>
            </div>
        </nav>
    </div>

</body>
</html>