<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Анкеты</title>
    <link rel="stylesheet" href="{% static 'app/css/stylesMain.css' %}"> 
    <link rel="stylesheet" href="{% static 'app/css/stylesAccaunt.css' %}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{% static 'app/js/ScrolScript.js' %}"></script>
    
</head>
<body>
    <div id="content">
        <img src="{% static 'app/images/logo.png' %}" id="logo">

        <div id="con">
            <div class="profiles-container">
                {% for student in students %}
                <div class="profile-card">
                    <a href="{% url 'profile_detail' current_student.telegram_id student.telegram_id %}">
                        {% if student.avatar %}
                            <img src="{{ student.avatar.url }}" alt="Аватар" class="profile-avatar">
                        {% else %}
                            {% if student.gender == 'male' %}
                                <img src="{% static 'app/images/male.png' %}" alt="Аватар" class="profile-avatar">
                            {% else %}
                                <img src="{% static 'app/images/female.png' %}" alt="Аватар" class="profile-avatar">
                            {% endif %}
                        {% endif %}
                        <div class="profile-name">{{ student.name }}</div>
                        <div class="profile-info">
                            {{ student.birth_year }} лет • Корпус {{ student.campus }}
                        </div>
                        <div class="profile-interests">
                            {% for interest in student.interests.all|slice:":3" %}
                                <span class="interest-tag">{{ interest.name }}</span>
                            {% endfor %}
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Нижнее меню -->
        <nav class="menu">
            <div id="inputMenu">
                <!-- Кнопка "Знакомства" (активная) -->
                <a href="{% url 'znakomstva' student.telegram_id %}"><img src="{% static 'app/images/anketact.png' %}" id="men" width="40px" alt="Знакомства"></a>
                <!-- Кнопка "Профиль" -->
                <a href="{% url 'profil' student.telegram_id %}"><img src="{% static 'app/images/prof.png' %}" id="men" alt="Профиль"></a>
                <!-- Кнопка "Уведомления" -->
                <a href="{% url 'notice' student.telegram_id %}"><img src="{% static 'app/images/uved.png' %}" id="men" alt="Уведомления"></a>
            </div>
        </nav>
    </div>
</body>
</html>