<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Анкеты</title>
        <link rel="stylesheet" href="{% static 'app/css/stylesMain.css' %}"> 
        <link rel="stylesheet" href="{% static 'app/css/stylesRegister.css' %}">
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
        <script src="{% static 'app/js/ScrolScript.js' %}"></script>
    </head>
<body>

    <div id="content">
        <img src="{% static 'app/images/logo.png' %}" id="logo">

        <div id="con"> 

        </div>






    <nav class="menu">
        <div id="inputMenu">
            <a href="#"><img src="{% static 'app/images/anketact.png' %}" id="men" width="40px"></a>              <!-- решетка быть должна!!!! -->
            <a href="profil.html"><img src="{% static 'app/images/prof.png' %}" id="men"></a>
            <a href="yvedomlenia.html"><img src="{% static 'app/images/uved.png' %}" id="men"></a>
        </div>
    </nav>
    </div>
   
</body>
</html>