/* фон и анимация появления*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

body {
    margin: 0;
    min-height: 100vh; 
    background: #18388f;
    color: white; 
    font-family: Arial, sans-serif;
    touch-action: manipulation; /* Отключает жесты масштабирования */
    
}

#logo {
    padding-left: 20px;
    padding-top: 10px;
    width: 120px; 
    height: 50px;
}

#con {
    opacity: 0; 
    transition: opacity 1s ease; 
    min-height: 80vh;
    justify-content: center;
}

#con.show {
    opacity: 1; 
}

#error {
    font-size: 14px;
    color: #fff;  
    display: none; 
    text-align: center; 
    text-shadow: 0px 2px 3px #454545;
}


/* текста */

#text, #textPOD {
    font-size: 18px;
    padding-bottom: 30px;
    text-shadow: 0px 2px 3px #454545; 
    display: flex;
    justify-content: center;

}

#textPOD { 
    font-size: 14px;
    text-align: center; 
    color: #E1E1E1;
}

#textNAIMPROF, #textGODPROF, #textKORPROF, #textNAIMPROFF, #textGODPROFF, #textKORPROFF { 
    padding-bottom: 30px;
    text-shadow: 0px 2px 3px #454545; 
    display: flex;
    justify-content: center;
    font-size: 18px;
}

#textNAIMPROF {
    grid-column-start: span 2;
}

#textP {
    grid-column: 2; /* Вторая колонка */
    grid-row: 1; /* Первая строка */
    font-size: 16px;
    color: #fff;
    margin-top: 15px;
    -webkit-tap-highlight-color: transparent;
}

#textPODB {
    color: #E1E1E1;
    grid-column: 2; /* Вторая колонка */
    grid-row: 2; /* Вторая строка */
    font-size: 14px;
}

#textP, #textPODB {
    padding-left: 20px;
    text-shadow: 0px 2px 3px #454545;
    text-decoration: none;
}

#PolTXT, .textRED {
    text-shadow: 0px 2px 3px #454545;
    grid-column-start: span 4;
    height: 15px; 
    font-size: 16px;
    display: flex; /* Включаем Flexbox */
    align-items: flex-end; /* Выравнивание текста по низу */
}

.textRED {
    padding-right: 40px;
    grid-column-start: span 2;
    width: 80px;
}

/* Поля Списки Кнопки */

.mySelect {
    background-color:  rgba(66, 92, 163, 0.2);
    color: #454545;
    border-radius: 25px;
    border: 2px solid #A4BBEF;
    color: #fff;
    height: 53px;
    width: 340px;
    outline: none;
    padding: 5px 10px;
    font-size: 20px;
    max-height: 200px;
    overflow: hidden;
    justify-content: center;
}

#inputField, #inputFieldGod {
    padding-top: 30px;
    width: 90%; /* Замените фиксированную ширину на 90% */
    max-width: 320px; /* Максимальная ширина */
    height: 48px;
    border: 2px solid #A4BBEF; 
    border-radius: 25px; 
    background-color: rgba(66, 92, 163, 0.2); 
    font-size: 20px;
    color: #fff;
    padding: 0px 15px;
    outline: none;
    justify-content: center;
}

#osebe {
    padding: 0px 10px;
    width: 330px;
    height: 80px;
    border: 2px solid #A4BBEF; 
    border-radius: 25px; 
    background-color: rgba(66, 92, 163, 0.2);; 
    font-size: 16px;
    color: #fff;
    padding: 10px 10px;
    outline: none;
    resize:none;
    grid-column-start: span 4;
}

#input {
    width: 290px;
    height: 50px;
    background-color: #7C8DBF;
    color: #fff;
    font-size: 20px;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 2px 3px #696969;
    grid-column-start: span 4;
    margin-top: 40px;
    margin-bottom: 15px;
    grid-row: 10;
}

#input:active {
    background-color: #8092C6;
    transition: background-color 0.4s ease
    
}





