#content {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
}

#myForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
}

#con {
    justify-content: flex-start;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}



/* Шняги для регистрации */

#input {
    position: fixed; /* Фиксированное позиционирование */
    bottom: 20px; /* Отступ от нижнего края */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Точное центрирование */
    width: calc(100% - 40px); /* Ширина с отступами по бокам */
    max-width: 250px; /* Максимальная ширина */
}

#text {
    padding-top: 50px;
    padding-bottom: 0px;
}

/* выбор пола */

.buttonPolImg {
    transition: transform 0.3s ease; 
}

.active {
    transform: scale(1.2); 
}
.inactive {
    transform: scale(0.7); 
}

#polVIB {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.buttonPolImg {
    background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer; 
    outline: none;
    color: #fff;
    font-size: 16px;
    width: 140px;
    text-shadow: 0px 2px 3px #454545;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.buttonPolImg img {
    width: 140px; 
    height: auto; 
    outline: none;
}

/* выбор интересов */

#button-container {
    display: flex;
    flex-wrap: wrap;
    width: 310px;
    gap: 10px; /* расстояние между кнопками */

}

.dynamic-button {
    padding: 6px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.dynamic-button:active { 
    background-color: #8FACFF; 
    transform: scale(1.1); 
}




