/* профиль */

#osnova {
    display: grid;
    /* Четыре колонки */
    grid-template-columns: 20px auto auto auto;
    /* Два ряда */
    grid-template-rows: auto 40px auto;
    /* Автоматическое размещение в ряд */
    grid-auto-flow: row;
    /* Отступы между ячейками */
    gap: 20px;
    justify-items: center;
    padding-top: 15px;
  }

#red {
    display: grid;
    grid-template-columns: 20px;
    grid-template-rows: 20px 20px;
    grid-auto-flow: row;
    gap: 5px;
    padding-top: 20px;
    padding-left: 25px;
}

#avatarR {
    width: 34px; /* Пример ширины изображения (по желанию) */
    height: 32px; /* Автоматическая высота */
    margin-top: 20px;
    margin-left: 3px;
    grid-column: 1;
    grid-row: span 2;

}

#interesred {
    display: grid;
    grid-template-columns: 20px;
    grid-template-rows: 20px 20px;
    grid-auto-flow: row;
    gap: 5px;
    padding-top: 20px;
    padding-left: 25px;
}

#avatarI {
    justify-self: start;
    width: 40px; /* Пример ширины изображения (по желанию) */
    height: 43px; /* Автоматическая высота */
    margin-top: 15px;
    grid-column: 1;
    grid-row: span 2;
}


/* редактирование и интересы */

#conRED, #conINT, #interesr, #inter {   
    display: grid;
    /* Четыре колонки */
    grid-template-columns: auto auto auto auto;
    /* Два ряда */
    grid-template-rows: auto;
    /* Автоматическое размещение в ряд */
    grid-auto-flow: row;
    /* Отступы между ячейками */
    justify-items: center;
}

#inputField, #inputFieldGod, .mySelect, #osebe, #error, #polRED, #con, #inter {
    grid-column-start: span 4;
}

.color-button {
    padding: 10px 20px;
    font-size: 16px;
    width: 150px;
    border-radius: 30px;
    grid-column-start: span 2;
    color: #FFF;
    border: none;
    cursor: pointer;
    background-color: #D1DBF8; /* Исходный цвет */
    transition: background-color 0.6s; /* Плавный переход цвета */
    -webkit-tap-highlight-color: transparent;
}

.color-button.active {
    background-color: #a3bafc; /* Цвет при активации */
}

#button-container {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    gap: 10px; /* расстояние между кнопками */
    justify-self: center;
}

.dynamic-button {
    padding: 6px;
    font-size: 16px;
    background-color: #FFF;
    color: white;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.dynamic-button:active { 
    background-color: #8FACFF; 
    transform: scale(1.1); 
}


